<%- layout('layouts/boilerplate') %>
    
    

    <!-- <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
        <div>
            <label for='title'>Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= camp.title %>">
        </div>
        <div>
            <label for='location'>Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= camp.location %>">
        </div>
        <p><a href="/campgrounds/<%= camp._id %>">Back</a></p>
        <button type="submit">Update</button>
        <a href="/campgrounds">Back to all Campgrounds</a>
    </form> -->
<div class="row">
    <h2 class="text-center">Edit Campground</h2>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="validate" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for='title'>Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= camp.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for='location'>Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= camp.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for='image'>Images</label>
                 <input class="form-control" type="text" id="image" name="campground[image]" value="" required> -->
                <!-- <input type="file" name="image" id="image" multiple>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for='price'>Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">&#8377;</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= camp.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for='image'>Description</label>
                <textarea class="form-control" type="text" id="image" name="campground[description]" required><%= camp.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
            
                
                <input class="form-control" type="file" name="image" id="" multiple>
                <!-- <input class="form-control" type="file" id="image" multiple>
                <label for="image" class="form-label">Multiple files input example</label> -->
              
            <!-- <input type="file" class="form-file-input" id="image" name="image" multiple>
            <label class="form-file-label" for="image">
                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                <span class="form-file-button">Browse</span>
            </label> -->
        
    </div> 
            <div class="mb-3">
                <% camp.images.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
            
            
        </form>
        <p><a href="/campgrounds/<%= camp._id %>">Back</a></p>
        </div>
</div>
    
