<%- layout('layouts/boilerplate') %>

<div class="row">
<div class="col-6">
    <div class="card mb-3">
        <img src="<%= camp.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= camp.location %></li>
          <li class="list-group-item">&#8377;<%= camp.price %>/night</li>
          
        </ul>
        <div class="card-body">
          <a href="/campgrounds/<%= camp._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        </div>
      </div>
</div>
<div class="col-6">
  <h3>Leave a review</h3>
  <form action="/campgrounds/<%=camp._id%>/review" method="POST" class="mb-3 validate" novalidate>
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" class="form-range" id="rating" min="1" max="5" name="review[rating]" required>
    </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" id="body" cols="50" rows="3" name="review[body]" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <button class="btn btn-success">Submit</button>
  </form>
  <% for (let reviews of camp.reviews) { %>
  <div class="mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Rating: <%= reviews.rating %></h5>
      <p class="card-text">Review: <%= reviews.body %></p>
      <form action="/campgrounds/<%= camp._id %>/review/<%= reviews._id %>?_method=DELETE" method="POST">
        <button class="btn btn-small btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% } %>
</div>
</div> 

    
    <!-- <h2>Show the Camp</h2>

    <h3><%=camp.title%></h3>
    <h4><%=camp.location%></h4>
    <img src="https://source.unsplash.com/collection/483251">
    <p><%=camp.description%></p>

    <p>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
    </p>

    <p>
        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        
    </p> -->

    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>
