<%- layout('layouts/boilerplate') %>

<div class="col-6 offset-3">
    <div class="card mb-3">
        <img src="<%= camp.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= camp.location %></li>
          <li class="list-group-item">&#8377;<%= camp.price %>/night</li>
          
        </ul>
        <div class="card-body">
          <a href="/campgrounds/<%= camp._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        </div>
      </div>
</div>

    
    <!-- <h2>Show the Camp</h2>

    <h3><%=camp.title%></h3>
    <h4><%=camp.location%></h4>
    <img src="https://source.unsplash.com/collection/483251">
    <p><%=camp.description%></p>

    <p>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
    </p>

    <p>
        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        
    </p> -->

    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>
